h1,
h2,
h3,
h4,
h5,
nav ul li a {
  font-family: "Fjalla One", sans-serif;
  text-decoration: none;
}
p {
  font-family: "Average", sans-serif;
}

li {
  display: inline;
}
header {
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0px;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #b2ebf2;
  z-index: 2;
}

.logo {
  /* position: absolute; */
  height: fit-content;
  width: 30%;
  margin: 10px;
  align-content: flex-start;
}

#banner {
  position: relative;
  background-image: url(MT.png);
  background-size: cover;
  background-position: center;
  background-position-x: 47px;
  color: white;
  height: 50vh;
  background-color: antiquewhite;
}

.quote {
  position: absolute;
  width: auto;
  margin-top: 35px;
  margin-left: 45px;
  text-align: center;
  /* padding-left: 10px; */
}
body {
  background-color: #b2ebf2;
}
#main-col {
  position: relative;
  display: flex;

  margin: auto;
}
.col3 {
  padding: 10px;
  width: 33%;
}

.logo > img {
  height: 100%;
  width: 130px;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  margin-right: 30px;
}

ul li a {
  text-decoration: none;
  margin: 10px;
}

@media only screen and (max-width: 650px) {
  header {
    flex-direction: column;
  }
  .logo {
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
  }
  nav {
    justify-content: center;
    width: 100%;
    margin-right: 40px;
  }
  .quote {
    width: 100%;

    margin: 0px;

    margin-top: 24px;
  }
  #banner {
    background-position-x: -198px;

    height: 342px;

    background-position-y: 73px;
  }
}
#banner {
  margin-top: 81px;
}
footer {
  bottom: 0px;
  position: relative;
  width: 100%;
  z-index: -99999999;
  /* overflow: inherit; */
}


#main-col .col3 > h2 {
    text-align: center;
    color: red;
}

#main-col .col3 > p {text-align: center;}