.viewer {
  position: relative;
  display: flex;
  width: 80%;
  margin: auto;
}


.gallery {
  position: relative;
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery img {
  cursor: pointer;
  transition: opacity 300ms;
}

.gallery img.active {
  opacity: 0.7;
}

body {
  background: darkgrey;
  color: white;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgb(0 0 0 / 90%);
  display: none;
  opacity: 0;
  transition: opacity 400ms;
}

.lightbox img {
    width: 90%;
    height: auto;
    margin: auto;
}

.lightbox ul li {
    background: white;
    height: 30px;
    width: 30px;
    color: black;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50%;
    border: 1px solid #797979;
    box-shadow: 1px 1px 3px #0c0c0c;
    list-style: none;
    transform: scale(1);
    transition: transform 300ms;
}
p {
    margin: 0px;
    padding: 10px 10px;
    background: white;
    color: black;
    border: 1px solid lightgray;
}

p:hover {
    background: lightblue;
    cursor: pointer;
}
.jumbotron h1, h2 {
    text-shadow: 1px 1px 1px black;
}

.lightbox ul li:hover {
    transform: scale(1.2);
}
.lightbox ul {
  padding: 0;
}
.lightbox ul li.prev {
  left: 10px;
}
.lightbox ul li.next {
  right: 10px;
}

.jumbotron {
    background: black;
    background-image: url(images/polybg.jpg);
    background-blend-mode: hard-light;
    background-size: cover;
}

footer {
  background: black;
  color:white;
  padding: 10%;
  text-align: center;
  font-weight: 100;
}

.card {
    color: black;
  }

  .gallery img {
      width: 100%;
  }

  .gallery {
      grid-gap: .5rem;
  }

  .viewer {
      margin: 20px auto;
  }

  .viewer img {
      width: 100%;
      object-fit: cover;
      height: 47vh;
      opacity: 0;
      transition: opacity 400ms;
  }
  .viewer img.active {
    opacity: 1;
/*  FINISHED CSS   */

.gallery img:hover {
    opacity: .5;
}
