
h1,h2,h3, ul li a, p{
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 10px 1px 0px black;
}
.card-header {
    
    height: fit-content;
    width: 100%;
    align-content: center;
    
    text-transform: capitalize;
    background-color: #f8f9fa;
   
}


nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-content: center; 
    justify-content: space-between;
    position: fixed;
    background-color: #f8f9fa;
    
    
}

.card-body {
    margin-top: 115px;
    ;
}
button.navbar-toggler.d-lg-none {align-self: flex-start;}
.jumbotron.jumbotron-fluid {
    background-image: url(images/wire-brushes-banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    background-position: center;
}

.jumbotron.jumbotron-fluid .container p {
    background: white;
    width: fit-content;
    border-radius: .3rem;
}

