ul li a {
  margin: 10px;
  font-size: large;
  text-align: center;
}
.banner1 {
  background-image: url(images/blendbanner.jpg);
  background-size: cover;
  margin-bottom: 10px;
}

.banner1 .container > * {
  color: white;
  padding: 10px;
  background-color: black;
  display: table;
}

.ribbon {
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

.about {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}
hr {
  background-color: orange;
  height: 4px;
  margin: 0;
  margin-bottom: 10px;
  width: 58px;
}

.news .card {
  height: 100%;
}

.feature {
  margin-top: 20px;
  color: wheat;
  background-image: url(images/featuresbg.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.feature .container {
  padding: 100px;
}
.funding
{
    padding: 50px;
    background-image: url(images/polybg.jpg);
    background-attachment: fixed;
}
.cloud{
    
   
    color: white;
    background-attachment: fixed;
    background-image: url(images/bg3.jpg);
    background-size: cover;
}

.cloud.card
{
    height: 100%;
}