div {
    background: #80808026;
    border: 1px dashed #68b3ff;
    padding: 5px;
    margin: 5px;
}
.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

* {font-family: 'archivo narrow', sans-serif;}


.container.float{
    display: flex;
}

.col-3{
    width: 30%;
}
.col-3:nth-child(odd){
    background-color: blueviolet;
}

.container.grid-4{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}
tr,th,td{
    padding: 0px;
    margin: 0px;
    border: none;
}
tr:nth-child(even) {
    background-color: gray;
}